/* glue: 0.11.1 hash: f9c690842a */
        .sprite-menu-animation-MenuAnimation_00038,
.sprite-menu-animation-MenuAnimation_00037,
.sprite-menu-animation-MenuAnimation_00036,
.sprite-menu-animation-MenuAnimation_00035,
.sprite-menu-animation-MenuAnimation_00034,
.sprite-menu-animation-MenuAnimation_00033,
.sprite-menu-animation-MenuAnimation_00032,
.sprite-menu-animation-MenuAnimation_00031,
.sprite-menu-animation-MenuAnimation_00030,
.sprite-menu-animation-MenuAnimation_00029,
.sprite-menu-animation-MenuAnimation_00028,
.sprite-menu-animation-MenuAnimation_00027,
.sprite-menu-animation-MenuAnimation_00026,
.sprite-menu-animation-MenuAnimation_00025,
.sprite-menu-animation-MenuAnimation_00024,
.sprite-menu-animation-MenuAnimation_00023,
.sprite-menu-animation-MenuAnimation_00022,
.sprite-menu-animation-MenuAnimation_00021,
.sprite-menu-animation-MenuAnimation_00020,
.sprite-menu-animation-MenuAnimation_00019,
.sprite-menu-animation-MenuAnimation_00018,
.sprite-menu-animation-MenuAnimation_00017,
.sprite-menu-animation-MenuAnimation_00016,
.sprite-menu-animation-MenuAnimation_00015,
.sprite-menu-animation-MenuAnimation_00014,
.sprite-menu-animation-MenuAnimation_00013,
.sprite-menu-animation-MenuAnimation_00012,
.sprite-menu-animation-MenuAnimation_00011,
.sprite-menu-animation-MenuAnimation_00010,
.sprite-menu-animation-MenuAnimation_00009,
.sprite-menu-animation-MenuAnimation_00008,
.sprite-menu-animation-MenuAnimation_00007,
.sprite-menu-animation-MenuAnimation_00006,
.sprite-menu-animation-MenuAnimation_00005,
.sprite-menu-animation-MenuAnimation_00004,
.sprite-menu-animation-MenuAnimation_00003,
.sprite-menu-animation-MenuAnimation_00002,
.sprite-menu-animation-MenuAnimation_00001,
.sprite-menu-animation-MenuAnimation_00000 {
            background-image: url('menu-animation.png');
            background-repeat: no-repeat;
        }
        
        .sprite-menu-animation-MenuAnimation_00038 {
            background-position: 0 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00037 {
            background-position: -29px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00036 {
            background-position: -58px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00035 {
            background-position: -87px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00034 {
            background-position: -116px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00033 {
            background-position: -145px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00032 {
            background-position: -174px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00031 {
            background-position: -203px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00030 {
            background-position: 0 -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00029 {
            background-position: -29px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00028 {
            background-position: -58px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00027 {
            background-position: -87px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00026 {
            background-position: -116px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00025 {
            background-position: -145px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00024 {
            background-position: -174px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00023 {
            background-position: -203px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00022 {
            background-position: -232px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00021 {
            background-position: -232px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00020 {
            background-position: -261px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00019 {
            background-position: -261px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00018 {
            background-position: -290px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00017 {
            background-position: -290px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00016 {
            background-position: 0 -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00015 {
            background-position: -29px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00014 {
            background-position: -58px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00013 {
            background-position: -87px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00012 {
            background-position: -116px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00011 {
            background-position: -145px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00010 {
            background-position: -174px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00009 {
            background-position: -203px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00008 {
            background-position: -232px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00007 {
            background-position: -261px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00006 {
            background-position: -290px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00005 {
            background-position: -319px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00004 {
            background-position: -319px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00003 {
            background-position: -319px -204px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00002 {
            background-position: -348px 0;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00001 {
            background-position: -348px -102px;
            width: 29px;
            height: 102px;
        }
        
        .sprite-menu-animation-MenuAnimation_00000 {
            background-position: -348px -204px;
            width: 29px;
            height: 102px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-menu-animation-MenuAnimation_00038,
    .sprite-menu-animation-MenuAnimation_00037,
    .sprite-menu-animation-MenuAnimation_00036,
    .sprite-menu-animation-MenuAnimation_00035,
    .sprite-menu-animation-MenuAnimation_00034,
    .sprite-menu-animation-MenuAnimation_00033,
    .sprite-menu-animation-MenuAnimation_00032,
    .sprite-menu-animation-MenuAnimation_00031,
    .sprite-menu-animation-MenuAnimation_00030,
    .sprite-menu-animation-MenuAnimation_00029,
    .sprite-menu-animation-MenuAnimation_00028,
    .sprite-menu-animation-MenuAnimation_00027,
    .sprite-menu-animation-MenuAnimation_00026,
    .sprite-menu-animation-MenuAnimation_00025,
    .sprite-menu-animation-MenuAnimation_00024,
    .sprite-menu-animation-MenuAnimation_00023,
    .sprite-menu-animation-MenuAnimation_00022,
    .sprite-menu-animation-MenuAnimation_00021,
    .sprite-menu-animation-MenuAnimation_00020,
    .sprite-menu-animation-MenuAnimation_00019,
    .sprite-menu-animation-MenuAnimation_00018,
    .sprite-menu-animation-MenuAnimation_00017,
    .sprite-menu-animation-MenuAnimation_00016,
    .sprite-menu-animation-MenuAnimation_00015,
    .sprite-menu-animation-MenuAnimation_00014,
    .sprite-menu-animation-MenuAnimation_00013,
    .sprite-menu-animation-MenuAnimation_00012,
    .sprite-menu-animation-MenuAnimation_00011,
    .sprite-menu-animation-MenuAnimation_00010,
    .sprite-menu-animation-MenuAnimation_00009,
    .sprite-menu-animation-MenuAnimation_00008,
    .sprite-menu-animation-MenuAnimation_00007,
    .sprite-menu-animation-MenuAnimation_00006,
    .sprite-menu-animation-MenuAnimation_00005,
    .sprite-menu-animation-MenuAnimation_00004,
    .sprite-menu-animation-MenuAnimation_00003,
    .sprite-menu-animation-MenuAnimation_00002,
    .sprite-menu-animation-MenuAnimation_00001,
    .sprite-menu-animation-MenuAnimation_00000 {
                background-image: url('menu-animation.png');
                -webkit-background-size: 377px 306px;
                -moz-background-size: 377px 306px;
                background-size: 377px 306px;
            }
        }
        