/*  FONT IMPORT */

@font-face {
    font-family: 'simplon_bpbold';
    src: url('./assets/fonts/simplonbp-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/simplonbp-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplon_bpmedium';
    src: url('./assets/fonts/simplonbp-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/simplonbp-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'simplon_bpregular';
    src: url('./assets/fonts/simplonbpregular-webfont.woff2') format('woff2'),
         url('./assets/fonts/simplonbpregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
